.container {
  margin-top: 2rem;

  .back-btn {
    background-color: #367C2B;
    color: white;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    &:hover {
      background-color: #367C2B
    }
  }

  .page-title {
    color: #367C2B;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  .soil-card {
    background-color: #f0fff4;
    border-radius: 12px;
    padding: 2rem;

    .info-row {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
      border-bottom: 1px solid #d4edda;

      .label {
        font-weight: 500;
        color: #367C2B;
      }

      .value {
        color: #333;
      }
    }

    .action-buttons {
      margin-top: 1.5rem;
      display: flex;
      gap: 1rem;

      .btn-primary {
        background-color:#367C2B;
        border: none;
        &:hover {
          background-color: #367C2B;
        }
      }

      .btn-danger {
        background-color: red;
        border: none;
        &:hover {
          background-color: red;
        }
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &.show {
    display: flex;
  }

  .modal-content {
    background: #fff;
    border-radius: 0;        
    width: 100%;
    height: 100%;
    padding: 2rem;
    overflow-y: auto;     
    display: flex;
    flex-direction: column;

    h4 {
      color: #367C2B;
      margin-bottom: 1rem;
    }

    .form-group {
      margin-bottom: 1rem;

      label {
        font-weight: 500;
        color: #367C2B;
      }

      input {
        width: 100%;
        padding: 0.5rem;
        border-radius: 6px;
        border: 1px solid #ccc;
      }
    }

    .modal-actions {
      margin-top: auto;       
      display: flex;
      gap: 1rem;

      .btn-success {
        background-color: #367C2B;
        border: none;
        &:hover {
          background-color:  #367C2B;;
        }
      }

      .btn-secondary {
        background-color: #6c757d;
        border: none;
        &:hover {
          background-color: #5a6268;
        }
      }
    }
  }
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(36%) sepia(30%) saturate(800%) hue-rotate(75deg) brightness(90%) contrast(90%);
  cursor: pointer;
}

