.vh-100 {
  height: 100vh;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  padding: 2rem;
}

.btn-green {
  background-color: #367C2B;
  color: white;
  border-radius: 10px;
}

.btn-green:hover {
  background-color: #2d6624;
}

.underline-input {
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  outline: none;
  transition: border-color 0.3s;
}

.underline-input:focus {
  border-color: #367C2B;
}

.small-label {
  font-weight: 600;
  color: #367C2B;
}

.input-lg {
  font-size: 1rem;
  padding: 8px;
}
.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  font-weight: 500;
  color: #333;
}

.custom-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;
  position: relative;
}

.custom-checkbox input:checked + .checkmark {
  background-color: #367C2B;
  border-color: #367C2B;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked + .checkmark::after {
  display: block;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.date-input {
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  outline: none;
  transition: border-color 0.3s, color 0.3s;
  color: #333;
  padding: 6px 0;
}


.date-input:focus {
  border-color: #367C2B;
  color: #367C2B;
}


input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(36%) sepia(30%) saturate(800%) hue-rotate(75deg) brightness(90%) contrast(90%);
  cursor: pointer;
}



.date-input::-moz-focus-inner {
  border: none;
}
