<div class="container mt-4">

  <button class="btn btn-outline-success mb-3" (click)="goBack()">
    ← Back
  </button>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Crop List</h2>
    <button class="btn btn-success" (click)="goToAddCrop()">
      + Add New Crop
    </button>
  </div>

  <table class="table table-bordered table-hover">
    <thead class="table-success">
      <tr>
        <th>#</th>
        <th>Crop Name</th>
        <th>Type</th>
        <th>Planted Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let crop of crops; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ crop.cropName }}</td>
        <td>{{ crop.variety }}</td>
        <td>{{ crop.plantingDate}}</td>
        <td>
          <button class="btn btn-sm btn-success me-2" (click)="viewCrop(crop.id)">View</button>
       <button class="btn btn-sm btn-edit" (click)="editCrop(crop.id)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
