.nav-style
{
    background-color: #795548;
    margin-top: 2%;
    height: 10%;
    padding-top: 1.5%;
     border-radius: 15px;
   
}

a
{
    margin: 5%;
    color: white;
    text-decoration: none;
}

.weather-box, .info-box
{
    height: 200px;       
    background-color: #4CAF50;
    padding: 20px;
    border-radius: 15px;
}

nav{
     text-align: center;
    
}